body{
    margin:0;
    padding:0; 
    font-family: 'Open Sans',sans-serif;   
}
nav{
    background-color:rgba(255, 255, 255);
}
.bx-menu{
    margin: 20px;
    margin-left: 150px;
    font-size: 40px;
}
.bx-menu:hover{
    color:#db545a;
}
.para{
    font-size: 40px;
    font-weight:lighter;
}
.div1{
   
    background-color: #7fc0ca;
    font-size: 20px;
    color: whitesmoke;
    padding:70px;
    padding-left: 150px;
    line-height: 1.6;
}
.button{
    border: 2px solid white;
    border-radius:30px;
    padding: 20px 40px;
    font-weight: bolder;
    font-size: 20px;
}
.button:hover{
    color: white;
    background-color: rgb(27, 26, 26);
    border: none;
}
.para1{
    text-align: center;
    font-weight: lighter;
    font-size: 2.25rem;
}

.subtitle{
    text-align: center;
    font-size: 1.125rem;
}
.pik{
    cursor: pointer;
    color: #111111;
    text-decoration: none;
}

.img1{
    margin:5px;
    width: 380px;
    height: 400px;
    border: 2px;
   
}

.layout{
    display: flex;
    flex-wrap: wrap;
    cursor:pointer;
    justify-content: center;
    align-items:center;
}
.Freepik{
    cursor: pointer;
}
.div3{
    
    background-color: #333333;
    padding-right: 80px;
     padding-bottom: 80px;
    
}
.say{
    color: whitesmoke;
    font-weight: lighter;
    padding-top: 40px;
    font-size: 2.25rem;
    padding-left: 180px;
}
.main-box{
    display: flex;
    justify-content:space-evenly;
    font-family:  Montserrat, sans-serif !important;
    margin-left: 170px;

}
.box1{
    
    border: 1px solid white;
    background-color: whitesmoke;
     color: black;
     box-shadow: white;
     text-align: justify;
     padding: 30px;
     margin: 20px;
       width: 30%;
     height: 100%;
    
     
}
 
.head{
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom:20px ;
    text-transform: uppercase;
    font-weight: lighter;

}
.main{
    font-size: 1.125rem;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: lighter;
    color: #96c3ca;
    text-transform: uppercase;
    letter-spacing: 2px;

}
.para2{
    
    margin: 20px 0 0;
    font-size: 1.125rem;
    color: #111111;
    
}
.day{
    text-transform: uppercase;
    font-size: 0.875rem;
    margin: 30px 0 0;
    color: #b3b3b3;
    padding-top: 40px;
   padding-bottom: 40px;
}
.img2{
    margin:5px;
    width: 380px;
    height: 400px;
    border: 2px;
   
}

.layout1{
    display: flex;
    flex-wrap: wrap;
    cursor:pointer;
    justify-content: center;
    align-items:center;
}
.title{
    text-align: center;
}
.para3{
    font-size:1.25rem;
    font-weight: lighter;
}
.h1{
    font-size: 2.125rem;
    font-weight: lighter;
    color: #3e3d3d;
}
.freepik{
    font-size: 1.125rem;
}
.img2{
    margin:8px;
    width: 380px;
    height: 400px;
    border: 2px;
  
}
.lavu{
    background-color: #2c2b2b;
    color: whitesmoke;
     padding-top: 50px;
     margin-top: 40px;
}
.footer{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.sf1{
    width: 30%;
    padding-left: 80px;

}
.sf2{
    width: 20%;
}
.sf3{
    padding-right: 80px;
}
.para4{
    font-size: 2.25rem;
    line-height: 1.1;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: lighter;


}
.sam{
    margin: 100px 0 0;
    
    margin-bottom: 20px;
    font-size: 1.125rem;

}
.h5{
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: lighter;
}
.ft{
    margin:20px 0 0;
    margin-bottom: 20px;
    font-size: 1.125rem;
}
.container{
    margin-top: 200px;
    font-size: 1.125rem;

}


.social{
    font-size: 1.25rem;
text-transform: uppercase;

}
img{
    margin-bottom: 20px;
}
.span{
    font-size: 1.125rem;
    
}
.bxl-facebook{
    font-size: 40px;
    color: #7fc0ca;
}
.bxl-twitter{
    font-size: 40px;
    color: #7fc0ca;
}
.bxl-instagram{
    font-size: 40px;
    color: #7fc0ca;
}
.pic{
    margin-top: 170px;
}

.link{
  text-align: center;
    font-size: 0.875rem;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 70px;
   
}
.link1{
    color: #c7e5ea;
    
   
}
.link1:hover{
    color: gray;
    text-decoration: none;
}
.foot{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 0.875rem;

}